.home {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
  grid-template-rows: 3;
}

.playlist-section {
  position: relative;
  overflow: scroll;
  z-index: 10;
  background-color: rgba(50, 136, 86, 0.6);
  border: 2px #66c88f solid;
  border-radius: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.playlist-section .buttons {
  font-family: 'Darumadrop One';
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background: transparent;
  border: 0;
  border-bottom: solid darkgrey 2px;
  text-align: left;
  color: white;
  font-weight: bold;
  font-size: medium;
}
.buttons:hover{
cursor: pointer;
}
.playlist-section h2 {
  color: #66c88f;
  font-size: 2em;
  margin-left: 25%;
  -webkit-text-stroke: 1px black;
}
.add-item{
  position: absolute;
  margin: 0;
  right:20px;
  bottom:20px;
 
}
.add-playlist{
  font-size: 3em;
  text-align: left;
  align-content: center;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin:0;
  padding: 0;
  background-color:rgba(94, 102, 97, 1);
  color:white;
  border:none;
  border-radius:50px;
  width:50px;
  height:50px;
}
.add-playlist:hover{
  cursor: pointer;
  color:#999999;
  background-color:#66c88f;
}
.add-song{
  font-size: 3em;
  text-align: left;
  align-content: center;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin:0;
  padding: 0;
  background-color:rgba(94, 136, 87, 0.6);
  color:white;
  border:none;
  border-radius:50px;
  width:50px;
  height:50px;
}
.add-song:hover{
  cursor: pointer;
  color:#66c88f;
  background-color:#999999;
}

.selected {
  font-family: 'Darumadrop One';
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: 0;
  border-bottom: solid #66c88f 2px;
  text-align: left;
  color: #66c88f;
  font-weight: bold;
  font-size: medium;
  background: rgba(94, 102, 97, 0.6);
  text-align: center;
}
.songs-section {
  position: relative;
  overflow: scroll;
  scrollbar-color: rgba(50, 136, 86, 1);
  z-index: 10;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgba(94, 102, 97, 0.6);
  border: 2px #66c88f solid;
  border-radius: 10px;
  min-height: 60vh;
  max-height: 60vh;
}
.songs-section h2 {
  grid-row-start: 1;
  font-size: 2em;
  color: #66c88f;
  margin-left: 25%;
  -webkit-text-stroke: 1px black;
  text-shadow: 3px 3px 0 #817d7d, -1px -1px 0 #817d7d, 1px -1px 0 #817d7d,
    -1px 1px 0 #817d7d, 1px 1px 0 #817d7d;
}
.songs-section li {
  display: grid;
  grid-template-columns: 4fr 2fr 1fr;
  color: white;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: solid #999999 1px;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 5px;
}
.songs-section aside {
  grid-column-start: 1;
  width: 90%;
  overflow: hidden;
}
.edit-btn{
  background: transparent;
  width: 20%;
  margin-left: 5px;
  border: none;
  grid-column-start: 3;
}
.edit-btn:hover {
  cursor: pointer;
}
.song-details {
  margin-bottom: 0;
  white-space: nowrap;
}

.overflow:hover {
  animation: scroll 6000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.sub-p {
  color: lightgrey;
  font-style: italic;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  margin-right: 5px;
}
.sub-p p{
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  display:none;

}
/* ANIMATIONS */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
/*  0% {
  transform: translateX(0%);
}
25% {
  transform: translateX(-25%);
}
50% {
  transform: translateX(-50%);
}
75%{
  transform: translateX(-25%);
}
100%{
  transform: translateX(0%);
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: transparent;
  min-height: 50vh;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #66c88f;
  border-radius: 4px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: transparent;
} */