body,html {
    background-color: lightgray;
}
main {
    width: 95%;
    margin: auto;
}
nav {
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 20px;
    box-shadow: 8px 8px 16px purple;
}
.Links {
    text-decoration: none;
    color: maroon;
    font-weight: bolder;
}

td{
    text-align: center;
}
tbody tr:nth-child(even) {
    background: plum;
    
  }
td.artist{
    color: purple;
    font-weight: bold
}
td.album{
    color: navy;
    font-weight: bold;
}

td.time{
    color: green;
    font-weight: bold;
}

.songMap {
    margin-left: 500px;
}


nav h1 span {
    color: orangered;
    font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    
}
nav h1 span:hover {
    border-radius: 10px;
    box-shadow: 8px 8px 16px purple;
    
}

.showNavigation {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}
.showNavigation button {
    background-color: orangered;
    border-radius: 10px;
    font-size: larger;
    text-decoration: none;
    justify-content: space-around;
    
}

.showNavigation button:hover {
    background-color: lightgreen;
    box-shadow: 8px 8px 16px purple;
}
div.Show {
    display: flex;
    justify-content: center;
    width: 100%;
}
article.songDetails {
    border-radius: 50px;
    padding: 10em;
    border: 3px solid purple;
    box-shadow: 8px 8px 16px purple;
    
}



button.NewSong-button {
    background-color: orangered;
    border-radius: 10px;
    font-size: larger;
    text-decoration: none;
    float: right;
  
}
button.NewSong-button:hover {
    background-color: lightgreen;
    box-shadow: 8px 8px 16px purple;
}

button.FourOFour {
    background-color: orangered;
    border-radius: 10px;
    font-size: large;
    text-decoration: none;
    color: aqua;
}

button.FourOFour:hover { 
    background-color: lightgreen;
    box-shadow: 8px 8px 16px purple;
}

table {
    width: 50%;
    margin: auto;
    border-radius: 50px;
    padding: 2em;
    border: 3px solid purple;
    box-shadow: 8px 8px 16px purple;
}
h1.Playlist {
    color: yellowgreen;
    font-size: xx-large;

}
th{
    color: yellowgreen;
    font-size: x-large;
    justify-content: space-evenly;
}

a.SongLinks{
    text-decoration: none;
    color: maroon;
    font-weight: bolder;

}

a.SongLinks:hover{
    color: red;
    box-shadow: 8px 8px 16px red;
}

h1.Title {
    color: maroon;
}
span.artist {
    color: purple
}

h2.Album {
    color: navy;
}

h3.Time {
    color: green;
}
label {
    color: limegreen;
    font-weight: bolder;
}

form {
    margin: auto;
    width: 55%;
    border-radius: 50px;
    padding: 2em;
    border: 3px solid purple;
    box-shadow: 8px 8px 16px purple;
    
  }
  input[type],
textarea {
  display: block;
  width: 50%;
  border-radius: 5px;
  color: purple;
  font-weight: bolder;
 
}

input[type="checkbox"] {
    margin: 0;
    width: 15%;
  }
  
  input[type="submit"] {
    width: 30%;
    background-color: orangered;
  }

  input[type="submit"]:hover{
    background-color: lightgreen;
    box-shadow: 8px 8px 16px purple;
  }

  .Home h2 {
    color: maroon;
    display: flex;
    justify-content: center;
  }

  .FourOFour h1 {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    color: maroon
  }

  .FourOFour button {
    margin-left: 550px;
  }

  .New h1{
    color: maroon;
    display: flex;
    justify-content: center;
  }

  .Index h1 {
    color: maroon;
    display: flex;
    justify-content: center;
  }
   h1.Playlist {
   margin-left: 120px;
    
  }

  .Edit h1 {
    color: maroon;
    display: flex;
    justify-content: center;
  }

  h1.SongDetails  {
    color: maroon;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    
  }