@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One');

body,
html {
  background-color: rgb(34, 33, 33);
  font-family: 'Darumadrop One';
}
main {
  z-index:6;
  margin-top: 25vh;
}
.navbar {
  z-index: 5;
}
.main {
  z-index: 10;
}
.wave-outline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(120px);
  text-align: center;
  overflow: hidden;
}

.logo {
  z-index: 6;
  /* border: solid red 2px; */
  left:50%;
  transform: translateX(-45%);
  position: absolute;
  width: 226px;
  height: 226px;
  background-image: url('./assets/vinyl.svg.png');
  background-repeat: no-repeat;
}
